_python_abi3_support==1.0
affine==2.4.0
aom==3.6.0
appnope==0.1.4
asdf==5.0.0
asdf-astropy==0.8.0
asdf-coordinates-schemas==0.4.0
asdf-standard==1.4.0
asdf-transform-schemas==0.6.0
asdf-wcs-schemas==0.5.0
astropy==7.1.0
astropy-base==7.1.0
astropy-iers-data==0.2025.9.22.0.37.25
attrs==25.4.0
blas==1.0
blosc==1.21.6
bottleneck==1.4.2
brotli==1.0.9
brotli-bin==1.0.9
brunsli==0.1
bzip2==1.0.8
c-ares==1.34.5
ca-certificates==2025.10.5
cairo==1.18.4
certifi==2025.10.5
cfitsio==3.470
charls==2.2.0
click==8.3.0
click-plugins==1.1.1.2
cligj==0.7.2
contourpy==1.3.1
cycler==0.11.0
dav1d==1.2.1
decorator==5.2.1
exceptiongroup==1.3.0
expat==2.7.1
fontconfig==2.15.0
fonttools==4.60.1
freetype==2.13.3
freexl==2.0.0
fribidi==1.0.10
geos==3.10.6
geotiff==1.7.0
gettext==0.21.0
giflib==5.2.2
graphite2==1.3.14
gwcs==0.26.0
harfbuzz==10.2.0
hdf4==4.2.13
hdf5==1.14.5
icu==73.1
imagecodecs==2024.9.22
imageio==2.37.0
importlib-metadata==8.7.0
jmespath==1.0.1
jpeg==9f
json-c==0.16
jxrlib==1.2
kealib==1.5.0
kiwisolver==1.4.8
krb5==1.21.3
lazy-loader==0.4
lcms2==2.16
lerc==4.0.0
libaec==1.1.4
libavif==1.1.1
libboost==1.88.0
libbrotlidec==1.0.9
libbrotlienc==1.0.9
libcurl==8.14.1
libcxx==20.1.8
libdeflate==1.22
libedit==3.1.20250104
libev==4.33
libexpat==2.7.1
libffi==3.4.4
libgdal==3.6.2
libgfortran==5.0.0
libgfortran5==11.3.0
libglib==2.84.2
libiconv==1.16
libkml==1.3.0
libkrb5==1.21.3
libmpdec==4.0.0
libnetcdf==4.8.1
libnghttp2==1.67.0
libntlm==1.8
libopenblas==0.3.30
libpng==1.6.39
libpq==17.4
libsodium==1.0.20
libspatialite==5.1.0
libsqlite==3.50.4
libssh2==1.11.1
libtiff==4.7.0
libwebp-base==1.3.2
libxml2==2.13.8
libzip==1.11.2
libzlib==1.3.1
libzopfli==1.0.3
llvm-openmp==20.1.8
lmdb==0.9.31
lz4-c==1.9.4
matplotlib==3.10.6
matplotlib-base==3.10.6
minizip==4.0.3
ncurses==6.5
networkx==3.5
nspr==4.37
nss==3.117
numexpr==2.11.0
numpy==2.3.3
numpy-base==2.3.3
openjpeg==2.5.2
openldap==2.6.10
openssl==3.5.4
packaging==25.0
pandas==2.3.3
parso==0.8.5
pcre2==10.42
pexpect==4.9.0
photutils==2.3.0
pillow==11.3.0
pip==25.2
pixman==0.46.4
platformdirs==4.5.0
poppler==24.09.0
poppler-data==0.4.12
proj==9.3.1
psutil==7.1.2
pure_eval==0.2.3
pyerfa==2.0.1.5
pyparsing==3.2.0
python==3.13.7
python-dateutil==2.9.0post0
python-tzdata==2025.2
python_abi==3.13
pytz==2025.2
pywavelets==1.9.0
pyyaml==6.0.2
qhull==2020.2
rasterio==1.4.3
readline==8.3
regions==0.10
scikit-image==0.25.2
scipy==1.16.2
semantic_version==2.10.0
setuptools==72.1.0
shapely==2.1.1
six==1.17.0
snappy==1.2.2
sqlite==3.50.2
tifffile==2024.12.12
tiledb==2.3.3
tk==8.6.15
tornado==6.5.1
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025b
uriparser==0.9.8
wcwidth==0.2.14
wheel==0.45.1
xerces-c==3.2.4
xz==5.6.4
yaml==0.2.5
zeromq==4.3.5
zfp==1.0.1
zipp==3.23.0
zlib==1.3.1
zlib-ng==2.0.7
zstd==1.5.7